<script type="ts">
    import { show_layout_forms, show_bookmarks, show_info } from "./stores/show_panes_store.js";
    import { Cog6Tooth, Server, Bookmark, QuestionMarkCircle } from "svelte-heros-v2";
    import { Button, ButtonGroup, Indicator } from "flowbite-svelte";
    import { useIsFetching } from '@sveltestack/svelte-query'

    const isFetching = useIsFetching()
</script>


<div class="flex flex-row justify-between items-center">
    <div class="flex flex-row items-center">
        <div class='space-x-2'>
            <ButtonGroup>
                {#if $show_layout_forms}
                    <Button class="!p-2" on:click={()=>{$show_layout_forms=false}}>
                        <Cog6Tooth size=18/>
                    </Button>
                {:else}
                    <Button class="!p-2" on:click={()=>{$show_layout_forms=true; $show_bookmarks=false;}}>
                        <Cog6Tooth size=18/>
                    </Button>
                {/if}
                {#if $show_bookmarks}
                    <Button class="!p-2" on:click={()=>{$show_bookmarks=false}}>
                        <Bookmark size=18/>
                    </Button>
                {:else}
                    <Button class="!p-2" on:click={()=>{$show_bookmarks=true; $show_layout_forms=false;}}>
                        <Bookmark size=18/>
                    </Button>
                {/if}
                {#if $isFetching}
                    <Button class="!p-2 relative" on:click={()=>{}}>
                        <Server size=18/>
                        <Indicator placement="top-right" border size="xl" class="text-xs dark:text-black">{$isFetching}</Indicator>
                    </Button>
                {:else}
                    <Button class="!p-2" on:click={()=>{}}>
                        <Server size=18/>
                    </Button>
                {/if}
            </ButtonGroup>

        </div>
        <span class="ml-4 whitespace-nowrap">
            <span class="text-2xl font-normal dark:text-white">
                Space Weather
            </span>
            <span class="text-2xl font-thin dark:text-white">
                Timeline Viewer
            </span>
        </span>
    </div>
    <div>
        <Button pill={false} class="!p-2 relative" on:click={()=>{$show_info=!$show_info}}>
            <span style="width: 18; height: 18; font-weight: thin;">Info</span>
        </Button>
    </div>
</div>
