<script>
    import { area, line } from 'd3';
    import { curveLinear, curveStep, curveStepAfter, curveStepBefore, curveNatural } from 'd3';
    export let plot_element;
    export let data;
    export let xScale;
    export let yScale;

    const curve_types = {
        undefined: curveLinear,
        '': curveLinear,
        'linear': curveLinear,
        'step': curveStep,
        'step_after': curveStepAfter,
        'step_before': curveStepBefore,
        'natural': curveNatural,
    }

    $: multiplier = plot_element.data_transforms.parameter_multiplier ? plot_element.data_transforms.parameter_multiplier : 1.0;
    $: offset = plot_element.data_transforms.parameter_offset ? plot_element.data_transforms.parameter_offset : 0.0;

    const areaFunction = function(data, xScale, yScale, plot_element) {
        // console.log(plot_element, data);
        return area()
            .defined(d => {
                if (plot_element.baseline_parameter) {
                    return !(isNaN(d[plot_element.data.parameter]) || isNaN(d[plot_element.data.baseline_parameter]))
                } else {
                    return !isNaN(d[plot_element.data.parameter])
                }
            })
            .curve(curve_types[plot_element.plot_options.curve_type])
            .x(d => xScale(d.time))
            .y0(d => {
                if (isNaN(d[plot_element.data.parameter])){
                    return NaN;
                } else {
                    if (plot_element.plot_options.baseline_mode == "mirror_zero_x") {
                        return yScale(-1*d[plot_element.data.parameter]*multiplier+offset);
                    } else if (plot_element.plot_options.baseline_mode == "constant") {
                        return yScale(plot_element.plot_options.baseline);
                    } else if (plot_element.plot_options.baseline_mode == "parameter") {
                        if (isNaN(d[plot_element.data.baseline_parameter])) {
                            return NaN;
                        }
                        return yScale(d[plot_element.data.baseline_parameter]*multiplier+offset);
                    } else {
                        return yScale(1e-20);
                    }
                }
            })
            .y1(d => { return yScale(d[plot_element.data.parameter]*multiplier+offset) } )(data.datalist);
    }

    // We draw the stroke of the area as a separate path, so that data gaps
    // do not display with a stroke going towards y=0.
    let lineFunction = undefined;
    let lineFunctionBaseline = undefined;
    if (plot_element.plot_options['stroke'] != 'none') {
        lineFunction = function(data, xScale, yScale, plot_element) {
                return line()
                    .defined(d => !isNaN(d[plot_element.data.parameter]))
                    .curve(curve_types[plot_element.plot_options.curve_type])
                    .x((d) => xScale(d.time))
                    .y((d) => yScale(d[plot_element.data.parameter]*multiplier+offset))(data.datalist)
        }
        if (plot_element.plot_options.baseline_mode == "mirror_zero_x") {
            lineFunctionBaseline = function(data, xScale, yScale, plot_element) {
                return line()
                    .defined(d => !isNaN(d[plot_element.data.parameter]))
                    .curve(curve_types[plot_element.plot_options.curve_type])
                    .x((d) => xScale(d.time))
                    .y((d) => yScale(-1*d[plot_element.data.parameter]*multiplier+offset))(data.datalist)
            }
        } else if (plot_element.plot_options.baseline_mode == "parameter" && typeof(plot_element.data.baseline_parameter != 'undefined')) {
            lineFunctionBaseline = function(data, xScale, yScale, plot_element) {
                return line()
                    .defined(d => !isNaN(d[plot_element.data.baseline_parameter]))
                    .curve(curve_types[plot_element.plot_options.curve_type])
                    .x((d) => xScale(d.time))
                    .y((d) => yScale(d[plot_element.data.baseline_parameter]*multiplier+offset))(data.datalist)
            }
        } else {
            lineFunctionBaseline = undefined;
        }
    }
</script>

<path d={areaFunction(data,xScale,yScale,plot_element)}
      fill={plot_element.plot_options['fill']}
      fill-opacity={plot_element.plot_options['fill-opacity']}/>

{#if lineFunction}
    <path d={lineFunction(data,xScale,yScale,plot_element)}
          stroke={plot_element.plot_options['stroke']}
          stroke-width={plot_element.plot_options['stroke-width']}
          stroke-opacity={plot_element.plot_options['stroke-opacity']}
          fill="none"/>
{/if}
{#if lineFunctionBaseline}
    <path d={lineFunctionBaseline(data,xScale,yScale,plot_element)}
          stroke={plot_element.plot_options['baseline_stroke']}
          stroke-width={plot_element.plot_options['baseline_stroke-width']}
          stroke-opacity={plot_element.plot_options['baseline_stroke-opacity']}
          fill="none"/>
{/if}

<style>

</style>
