<script>
    export let plot_element;
    export let data;
    export let xScale;
    export let yScale;
    export let x_position = 0.5;

    import dayjs from 'dayjs';
    import duration from 'dayjs/plugin/duration';
    import utc from 'dayjs/plugin/utc';
    dayjs.extend(duration);
    dayjs.extend(utc)

    $: bottom = yScale.range()[1];
    $: height = yScale.range()[0]-bottom;

    $: epoch_dayjs = dayjs(xScale.domain()[0]).add(x_position*dayjs(xScale.domain()[1]).diff(dayjs(xScale.domain()[0])), 'ms');

    let margin_top = plot_element.plot_options.image_margins.top ? plot_element.plot_options.image_margins.top : 0;
    let margin_bottom = plot_element.plot_options.image_margins.bottom ? plot_element.plot_options.image_margins.bottom : 0;

    const preloadImage = function(url){
      return new Promise((resolve, reject) => {
        const img = new Image();
        img.src = url;
        img.onload = function() {
          resolve()
        }
        img.onerror = function(err) {
          reject(err)
        }
      });
    }

    $: preloaded_images = data.datalist.map((d) => {
        let epoch = dayjs(d.time);
        return {
            img_promise: preloadImage(d.url),
            url: d.url,
            epoch: epoch,
            diff: epoch.diff(epoch_dayjs, 'second', true)
        }
    });

    $: max_time_diff_before_seconds = plot_element.plot_options['max_time_diff_before_seconds'];
    $: max_time_diff_after_seconds = plot_element.plot_options['max_time_diff_after_seconds'];
    $: max_retain_images = plot_element.plot_options['max_retain_images'];

    const find_current_images = function(preloaded_images, epoch_dayjs) {
        let images = [];
        for (let i=0; i<preloaded_images.length; i++) {
            // let diff = preloaded_images[i].epoch.diff(epoch_dayjs, 'second', true);
            // preloaded_images[i]['diff'] = Math.abs(diff);
            if (preloaded_images[i].diff < 0 && -1*preloaded_images[i].diff < max_time_diff_before_seconds) {
                images.push(preloaded_images[i]);
            } else if (preloaded_images[i].diff > 0 && preloaded_images[i].diff < max_time_diff_after_seconds) {
                images.push(preloaded_images[i]);
            }
        }
        let images_sorted = images.sort((a, b) => (Math.abs(a.diff) < Math.abs(b.diff)) ? 1 : -1);
        if (images_sorted.length > max_retain_images) {
            return images_sorted.slice(images.length-max_retain_images, images.length);
        } else {
            return images_sorted;
        }
    }

    $: current_images = find_current_images(preloaded_images, epoch_dayjs)
    $: image_height = yScale.range()[0]-yScale.range()[1]-margin_top - margin_bottom;
    $: image_width = plot_element.plot_options.aspect_ratio * image_height;
</script>
{#if current_images.length>0}
    {#each current_images as current_image}
        {#await current_image.img_promise}
            <image href={current_image.url}
                    preserveAspectRatio="xMidYMid meet"
                    x={xScale.range()[0]+0.5*(xScale.range()[1]-xScale.range()[0])-0.5*(image_width)}
                    y={yScale.range()[1]+margin_top}
                    width={image_width}
                    height={image_height}/>
        {:then}
            <image href={current_image.url}
                    preserveAspectRatio="xMidYMid meet"
                    x={xScale.range()[0]+0.5*(xScale.range()[1]-xScale.range()[0])-0.5*(image_width)}
                    y={yScale.range()[1]+margin_top}
                    width={image_width}
                    height={image_height}/>
            />
        {/await}
    {/each}
    {#each current_images as current_image}
        <!-- Selected prediction circle -->
         <circle cx="{xScale(current_image.epoch.utc().toDate())}"
                 cy="{yScale.range()[0]}"
                 r="4"
                 fill="white"
                 stroke-width="2"
                 stroke={plot_element.plot_options.marker_color}/>

         <!-- Selected prediction vertical line -->
         <line x1="{xScale(current_image.epoch.utc().toDate())}"
               x2="{xScale(current_image.epoch.utc().toDate())}"
               y1={yScale.range()[0]}
               y2={yScale.range()[0]-50}
               stroke-width="1.5"
               stroke={plot_element.plot_options.marker_color}
               stroke-opacity=0.5/>
    {/each}
    {#if current_images.length > 1}
        <text x="{xScale(epoch_dayjs)-100}"
          y="{yScale.range()[0]-10}"
          font-size="12px"
          class="fill-white dark:fill-white"
          text-anchor="right">{current_images[0].epoch.utc().format("HH:mm")} - {current_images[current_images.length-1].epoch.utc().format("HH:mm")}</text>
    {:else}
        <text x="{xScale(epoch_dayjs)}"
          y="{yScale.range()[0]-10}"
          font-size="12px"
          class="fill-white dark:fill-white"
          text-anchor="middle">{current_images[0].epoch.utc().format("HH:mm")}</text>
    {/if}
{/if}

{#each preloaded_images as d}
    {#await d.img_promise}
        <!-- Unselected prediction indicator -->
        <circle cx="{xScale(d.epoch.utc().toDate())}"
                cy="{yScale.range()[0]}"
                r="4"
                stroke={plot_element.plot_options.marker_color}
                stroke-width="1"/>
    {:then}
        <circle cx="{xScale(d.epoch.utc().toDate())}"
                cy="{yScale.range()[0]}"
                r="4"
                fill="white"
                fill-opacity="100%"
                stroke={plot_element.plot_options.marker_color}
                stroke-width="1"/>
    {:catch}
    <circle cx="{xScale(d.epoch.utc().toDate())}"
            cy="{yScale.range()[0]}"
            r="4"
            fill="red"
            fill-opacity="100%"
            stroke={plot_element.plot_options.marker_color}
            stroke-width="1"/>
    {/await}
{/each}


<style>
</style>
