<script>
    export let plot_element;
    export let data;
    export let xScale;
    export let yScale;

    $: bottom = yScale.range()[1];
    $: height = yScale.range()[0]-bottom;
</script>


{#each data.datalist as d}
    <image href={d.url}
           preserveAspectRatio="none"
           x={xScale(d.time)}
           y={bottom}
           width={xScale(new Date(d.time_stop))-xScale(d.time)}
           height={height}
           style="image-rendering: pixelated;"
    />
{/each}


<style>
</style>
