<script>
  import { T, extend } from '@threlte/core'
  import { OrbitControls } from '@threlte/extras'

  extend({ OrbitControls});

  let earthradii = 2.5;
  export let width;
  export let height;
  export let position=[0, 6, 0];
  export let type="orthographic";
  export let fov=22;
  export let orbit_controls_enabled=true;
  let camera;
</script>

{#if type == "orthographic"}
  <T.OrthographicCamera
      makeDefault
      position={position}
      left={earthradii}
      right={earthradii}
      top={earthradii}
      bottom={-earthradii}
      near={0}
      far={earthradii*10}
      zoom={height/earthradii}
      target={{ x: 0, y: 0 }}
      bind:ref={camera}
      on:create={({ ref }) => {
              // Look at the center
              ref.lookAt(0, 0, 0)
          }
      }
      >
      <OrbitControls
      autoRotate={false}
      enableZoom={true}
      enablePan={false}
      enableDamping={true}
      dampingFactor={0.1}
      minZoom={0.25*height/earthradii}
      maxZoom={20*height/earthradii}/>
    </T.OrthographicCamera>
{:else}
    <T.PerspectiveCamera
    makeDefault
    position={position}
    target={{ x: 0, y: 0 }}
    fov={fov}
    aspect=1
    bind:ref={camera}
    on:create={({ ref }) => {
            // Look at the center
            ref.lookAt(0, 0, 0)
        }
    }
    >
    <OrbitControls
    autoRotate={false}
    enabled={orbit_controls_enabled}
    enableZoom={true}
    enablePan={false}
    enableDamping={true}
    dampingFactor={0.1}
    minZoom={0.25*height/earthradii}
    maxZoom={20*height/earthradii}/>
  </T.PerspectiveCamera>
{/if}
