<script>
	import { Canvas } from '@threlte/core'
    import Scene from './Scene.svelte'
	export let subplot;
	export let xScale;
    $: x_position = subplot.options_3d.x_position; // Get from subplot json in the future

	$: top = subplot.computed.y;
    $: range = xScale.range();
    $: height = subplot.computed.h;
    $: width = range[1] - range[0];
    $: left = range[0] + x_position * (range[1] - range[0]) - 0.5 * width;

</script>
{#if width}
    <div class='canvas3d' style="position: absolute; top: {top}px; left: {left}px; width: {width}px; height: {height}px;">
	    <Canvas size={{width: width, height: height}}>
            <Scene {subplot} {xScale} {width} {height} {x_position}/>
	    </Canvas>
    </div>
{/if}

<style>
    .canvas3d {
        cursor: all-scroll;
    }
</style>
