<script type="ts">
    import { layout } from '../stores/layout_store';

    import { Label,
             Input,
             NumberInput,
             Helper,
             ButtonGroup,
             Button,
             Radio,
             Select,
             Toggle,
             Table,
             TableBody,
             TableBodyCell,
             TableBodyRow,
             TableHead,
             TableHeadCell } from 'flowbite-svelte';

    import { Trash } from "svelte-heros-v2";

    import { color_schemes } from '../option_constants/color_schemes.js';
    import RangeWithNumberInput from '../form_components/RangeWithNumberInput.svelte'
    import ColorWithOpacityInput from '../form_components/ColorWithOpacityInput.svelte'
    import PlotElementHAPIParameterSelector from './PlotElementHAPIParameterSelector.svelte';

    const curve_types = [
        {value: 'linear', name: 'Linear'},
        {value: 'natural', name: 'Natural cubic spline'},
        {value: 'step', name: 'Steps at midpoints'},
        {value: 'step_after', name: 'Step for data timestamps at start of interval'},
        {value: 'step_before', name: 'Step for data timestamps at end of interval'},
    ]

    const plot_types = [
        {value: 'line', name: 'Line'},
        {value: 'area', name: 'Area'},
        {value: 'bars', name: 'Bar'},
        {value: 'color_mapped_symbols', name: 'Colour-mapped symbols'},
        {value: 'interval_iamge', name: 'Interval images'},
        {value: 'epoch_image', name: 'Epoch images'}
    ]

    const symbol_types = [
        {value: 'circle', name: 'Circle'},
        {value: 'rectangle', name: 'Rectangle'},
    ]

    // Get the list of just the names (keys) of color maps, we don't need the actual color map functions (values) here
    const color_maps = Object.keys(color_schemes).map((cm)=>{return {name: cm, value: cm}});

    const baseline_modes = [
        {value: 'constant', name: 'Constant value'},
        {value: 'mirror_zero_x', name: 'Mirror on X-axis'},
        {value: 'parameter', name: 'Another parameter from the dataset'},
    ]

    const plot_options_fields = {
        "area": {
            "stroke": "#888888",
            "stroke-width": "1",
            "stroke-opacity": "1",
            "fill": "#AAAAAA",
            "fill-opacity": "1",
            "mirror_zero_x": false,
            "parameter_multiplier": 1,
            "parameter_offset_remove_mean": false,
            "parameter_offset": 0,
        },
        "line": {
            "stroke": "#888888",
            "stroke-width": "1",
            "stroke-opacity": "1",
            "fill": "#AAAAAA",
            "fill-opacity": "1",
            "mirror_zero_x": false,
            "parameter_multiplier": 1,
            "parameter_offset_remove_mean": false,
            "parameter_offset": 0,
        },
        "bars": {
            "bar_offset_seconds": 1800,
            "bar_padding": 0.2,
            "bar_text": true,
            "stroke": "#000000",
            "stroke-opacity": "0",
            "stroke-width": "0",
            "fill_colors": [
                {"threshold": 4.6, "color": "#88CC66"},
                {"threshold": 5.6, "color": "#FFF033"},
                {"threshold": 6.6, "color": "#FFBB44"},
                {"threshold": 7.6, "color": "#DD9922"},
                {"threshold": 8.6, "color": "#FF2020"},
                {"threshold": 9.6, "color": "#A02020"},
                {"threshold":1000, "color": "#300000"}
            ],
            "parameter_multiplier": 1,
            "parameter_offset_remove_mean": false,
            "parameter_offset": 0,
        },
        "color_mapped_symbols": {
            "color_map": "Turbo",
            "color_map_domain": {
                "bounds": [0, 500],
                "trim": [0, 500]
            },
            "parameter_multiplier": 1,
            "parameter_offset_remove_mean": false,
            "parameter_offset": 0,
            "color_parameter_multiplier": 1,
            "color_parameter_offset_remove_mean": false,
            "color_parameter_offset": 0,
            "reverse_color_map": false,
            "symbol_type": "circle",
            "symbol_height": 5,
            "symbol_width": 5,
        }
    }

    export let i_subplot;
    export let i_plot_element;
    $: plot_type = $layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.plot_type;
</script>

<div class="flex flex-col gap-3">
    <h2>Style</h2>
    <Label>Plot type:
        <Select items={plot_types}
                value={plot_type}
                on:change={(e)=>{
                        // console.log({...$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options, ...plot_options_fields[e.target.value]});
                        // First ensure the proper plot options are available (and retain the old ones, in case the user wants to switch back)
                        $layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options = {...plot_options_fields[e.target.value], ...$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options};
                        // Only then switch the plot type
                        $layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.plot_type = e.target.value;
                    }
                }
                prompt="Select a plot style"/>
    </Label>
    {#if plot_type == "color_mapped_symbols"}
        <Label>Parameter for fill color of symbols:
            <PlotElementHAPIParameterSelector
                {i_subplot}
                {i_plot_element}
                parameter_type='color_map_parameter'
                allowed_types={['double', 'integer']}
                placeholder="Select a parameter for fill color..."/>
        </Label>


        <Label>Symbol type:
            <Select items={symbol_types}
                    bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.symbol_type}/>
        </Label>
        <Label>Symbol width:
            <RangeWithNumberInput
               min={0} max={20} step={0.25} bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.symbol_width}/>
        </Label>
        <Label>Symbol height:
            <RangeWithNumberInput
               min={0} max={20} step={0.25} bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.symbol_height}/>
        </Label>
    {/if}

    {#if plot_type == 'area' || plot_type == 'line'}
        <Label>Curve type:
        <Select items={curve_types}
                bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.curve_type}
                prompt="Select a curve type"/>
        </Label>
    {/if}
    {#if plot_type == 'area'}
        <Label>Mode for the area's baseline:
        <Select items={baseline_modes}
                bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.baseline_mode}
                prompt="Select an option for the baseline:"/>
        </Label>
        {#if $layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.baseline_mode == "constant"}
            <Label>Constant baseline value:
                <RangeWithNumberInput
                   min={$layout.subplots[i_subplot].ydomain.bounds[0]}
                   max={$layout.subplots[i_subplot].ydomain.bounds[1]}
                   bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.baseline}/>
            </Label>
        {:else if $layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.baseline_mode == "parameter"}
            <Label>Parameter for area plot baseline:
                <PlotElementHAPIParameterSelector
                    {i_subplot}
                    {i_plot_element}
                    parameter_type='baseline_parameter'
                    allowed_types={['double', 'integer']}
                    placeholder="Select a baseline parameter..."/>
            </Label>
        {/if}
    {/if}


    <h2>Fill and stroke:</h2>
    {#if plot_type == "area"}
        <Label>Fill color:
            <ColorWithOpacityInput
                bind:opacity={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options['fill-opacity']}
                bind:color={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options['fill']}/>
        </Label>
    {/if}

    {#if plot_type == 'bars'}
        <Label>Fill colors:
        <Table shadow>
        <TableHead>
            <TableHeadCell>Upper threshold</TableHeadCell>
            <TableHeadCell>Colour</TableHeadCell>
        </TableHead>
        <TableBody>
            {#each $layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.fill_colors as fill_color}
                <TableBodyRow>
                    <TableBodyCell>
                        <Input size='sm' bind:value={fill_color.threshold}></Input>
                    </TableBodyCell>
                    <TableBodyCell>
                        <Input>
                          <input type="color" bind:value={fill_color.color} />
                        </Input>
                    </TableBodyCell>
                    <TableBodyCell><Trash size=14/></TableBodyCell>
                </TableBodyRow>
            {/each}
        </TableBody>
        </Table>
        </Label>
    {/if}

    {#if plot_type == 'color_mapped_symbols'}
        <Label>Colour map for fill:
            <Select items={color_maps} bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options['color_map']}/>
            <Toggle bind:checked={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.reverse_color_map} class='my-1'>Reverse color map</Toggle>
        </Label>

        <div class="flex flex-row gap-5">
            <Label>Overall min:
                <Input bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.bounds[0]}/>
            </Label>
            <Label>Overall max:
                <Input bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.bounds[1]}/>
            </Label>
        </div>

        <Label>Trim minimum and maximum:
        <RangeWithNumberInput
               min={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.bounds[0]}
               max={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.bounds[1]}
               bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.trim[0]}/>
        <RangeWithNumberInput
               min={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.bounds[0]}
               max={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.bounds[1]}
               bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options.color_map_domain.trim[1]}/>
        </Label>
    {/if}


    <Label>Stroke color:
        <ColorWithOpacityInput bind:opacity={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options['stroke-opacity']}
           bind:color={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options['stroke']}/>
    </Label>
    <Label>Stroke width:
        <RangeWithNumberInput min={0} max={10} step={0.1} bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].plot_options['stroke-width']}/>
    </Label>

    {#if plot_type == 'area' || plot_type == 'line' || plot_type == 'color_mapped_symbols'}
        <h2>Time shift</h2>
        <Label>Trim minimum and maximum:
            <RangeWithNumberInput
                   min={-86400}
                   max={86400}
                   bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].data_transforms.time_offset_sec}/>
        </Label>

        <h2>Modify y-axis parameter data</h2>
        <Label>Parameter multiplier:
            <NumberInput type="number"
                   disabled={plot_type != 'area' && plot_type != 'line' && plot_type != 'color_mapped_symbols'}
                   bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].data_transforms.parameter_multiplier}/>
        </Label>
        <Label>Parameter offset:
            <NumberInput type="number"
                   disabled={plot_type != 'area' && plot_type != 'line' && plot_type != 'color_mapped_symbols'}
                   bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].data_transforms.parameter_offset}/>
        </Label>
        <Label>More options
            <Toggle bind:checked={$layout.subplots[i_subplot].plot_elements[i_plot_element].data_transforms.parameter_offset_remove_mean}>Remove mean</Toggle>
        </Label>
    {/if}

    {#if plot_type == 'color_mapped_symbols'}
        <h2>Modify fill color parameter data</h2>
        <Label>Parameter multiplier:
            <NumberInput type="number"
                   bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].data_transforms.color_parameter_multiplier}/>
        </Label>
        <Label>Parameter offset:
            <NumberInput type="number"
                   bind:value={$layout.subplots[i_subplot].plot_elements[i_plot_element].data_transforms.color_parameter_offset}/>
        </Label>
        <Label>More options
            <Toggle bind:checked={$layout.subplots[i_subplot].plot_elements[i_plot_element].data_transforms.color_parameter_offset_remove_mean}>Remove mean</Toggle>
        </Label>
    {/if}

</div>

<style>

</style>
