<!--
	This component takes care of drawing the plotting frame and frame annotation,
	as well as setting up the clippign mask per SubplotGroup. The actual plot
	elements will be included in the slot.
-->
<script>
    import { layout } from '../stores/layout_store';
	import { timeDomain } from '../stores/timedomain_store';
	import SubplotXAxis from './plot_frame_components/SubplotXAxis.svelte';
	import SubplotYAxis from './plot_frame_components/SubplotYAxis.svelte';
	import NowIndicator from './plot_frame_components/NowIndicator.svelte';
	import FrameLabel from './plot_frame_components/FrameLabel.svelte';
	import Legend from './plot_frame_components/Legend.svelte';
	import OptionalAnnotationBackground from './plot_frame_components/OptionalAnnotationBackground.svelte';
	import OptionalAnnotationForeground from './plot_frame_components/OptionalAnnotationForeground.svelte';

    export let subplot;
    export let xScale;

	let clip_path_id = "clip_subplot_" + subplot.computed.id;
	let clip_path_url = "url(#clip_subplot_" + subplot.computed.id + ")";
</script>

<g class={"subplot_" + subplot.subplot_id}>
	<clipPath id={clip_path_id}>
		<rect width={xScale.range()[1]-xScale.range()[0]} height={subplot.computed.h} x={xScale.range()[0]} y={subplot.computed.y}/>
	</clipPath>
	{#if subplot.annot_options}
		<OptionalAnnotationBackground {subplot} {xScale} {clip_path_url}/>
	{/if}
	<g class="plot_elements" clip-path={clip_path_url}>
		<slot/>
	</g>
	<SubplotXAxis {subplot} {xScale}/>
	<SubplotYAxis {subplot} {xScale}/>
	{#if subplot.annot_options}
		<OptionalAnnotationForeground {subplot} {xScale} {clip_path_url}/>
	{/if}

	<NowIndicator {xScale} y1={subplot.computed.y} y2={subplot.computed.y+subplot.computed.h} {clip_path_url}/>
	<FrameLabel {subplot} {xScale}/>
    {#if subplot.legend_visible}
	    <Legend bind:subplot={subplot} {xScale}/>
    {/if}
</g>

<style>
</style>
