<script type='ts'>
</script>

<defs>
    <!-- Blurred white outline for readability of label text -->
    <filter id="whiteOutlineEffect" color-interpolation-filters="sRGB">
      <feMorphology in="SourceAlpha" result="MORPH" operator="dilate" radius="0.75"/>
      <feColorMatrix in="MORPH" result="WHITENED" type="matrix" values="-1 0 0 0 1, 0 -1 0 0 1, 0 0 -1 0 1, 0 0 0 1 0"/>
      <feGaussianBlur in="WHITENED" result="BLURRED" stdDeviation="0.5" />
      <feMerge>
        <feMergeNode in="BLURRED"/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>

    <filter id="dropShadow">
        <feDropShadow dx="0.5" dy="0.5" stdDeviation="2.5"
          flood-color="black" flood-opacity="0.4"/>
    </filter>
</defs>
