<script type='js'>
	import { fade, scale, slide, draw, crossfade } from 'svelte/transition';
	import { quintOut } from 'svelte/easing';
	import { flip } from 'svelte/animate';
	import { range_pixels } from '../stores/zoom_range_store';

	import * as d3 from 'd3'
	import { onMount } from 'svelte'

    import { Button } from 'flowbite-svelte';
    import dayjs from 'dayjs';

	import { timeDomain } from '../stores/timedomain_store'
	import { set_svg_element } from '../stores/mouse_position';
	import { layout, layout_file } from '../stores/layout_store'
	import { computeSubplotLayouts } from './subplotlayouts'

    import SubplotGroup from './SubplotGroup.svelte'
    import PlotElementHAPI from './PlotElementHAPI.svelte'
    import PlotElementURLTemplate from './PlotElementURLTemplate.svelte'
    import EventSymbolPlot from './plot_components/EventSymbolPlot.svelte'
	import StaticImagePlot from './plot_components/StaticImagePlot.svelte'

    import SVGFilters from './SVGFilters.svelte';

	import Canvas from '../3d_plots/Canvas.svelte';

	let containerWidth;
    let containerHeight;

	let mounted = false;
    let timeDomain_orig = $timeDomain;

    $: subplotLayouts =  computeSubplotLayouts($layout, containerHeight);

	let svgElement; // We will bind this to the SVG element below.
	let timer;      // Timer that is set to 0 during zooming/panning,
					// so that we can load new data a short time after
					// the zoom/pan actions stop

	// Set up vars for min/max zooming and panning
	let curzoom_seconds = ($timeDomain[1] - $timeDomain[0])/1000;
	let minzoom = curzoom_seconds/(250*365.25*86400); // 250 years - perhaps implement overriding these zoom boundaries from the json layout config
	let maxzoom = curzoom_seconds/(0.1); // 20 seconds

	// Set xScale
	let xScale = d3.scaleTime().domain($timeDomain);
	let xScale_new = d3.scaleTime().domain($timeDomain);

	// React to changes in the margins
	$: leftMargin = $layout.global_margins.left;
	$: rightMargin = $layout.global_margins.right;
	$: range = [leftMargin, containerWidth-rightMargin];
	$: $range_pixels = range[1] - range[0];

	// Recompute the xScale every time the left/right margins or window width change
	$: xScale = xScale.range(range);
	$: xScale_new = xScale_new.range(range);

	// Set up the zooming and panning
	const performZoom = function(e) {
		// Function to execute whenever the user zooms on the SVG
		xScale_new = e.transform.rescaleX(xScale);

		// Reset the timer
		if(timer !== null) {
			clearTimeout(timer);
		}

		// And if there are no new zoom events for xxx ms, it is time for
		//   downloading new data, triggered by setting the
		//   $timeDomain store.
		timer = setTimeout(function() {
			$timeDomain = xScale_new.domain();
		}, 100);

	}

	var zoomObject = d3.zoom()
		.on("zoom", performZoom)
		.scaleExtent([minzoom, maxzoom]);

	// Attaching the zoom behaviour object to the SVG requires it to be mounted in the DOM
	onMount(() => {
		mounted = true;
		d3.select(svgElement).call(zoomObject);
		xScale = d3.scaleTime().domain($timeDomain).range(range);
		set_svg_element(svgElement);
	});

    function zoomClick(t0, t1) {
        $timeDomain = [dayjs(t0), dayjs(t1)];
        // console.log(d3.zoomIdentity
        //     .scale((range[1]-range[0]) / (xScale(t1) - xScale(t0)))
        //     .translate(xScale(timeDomain_orig[0])-xScale(t0), 0.0))
        // let new_domain = [new Date('2022-01-01T00:00:00Z'), new Date('2022-01-01T12:00:00Z')];
        // xScale_new = d3.scaleTime().domain(new_domain).range(range);
        d3.select(svgElement).transition().duration(3000).call(
            zoomObject.transform,
            d3.zoomIdentity
                .scale((range[1]-range[0]) / (xScale(t1) - xScale(t0)))
                .translate(xScale(timeDomain_orig[0])-xScale(t0), 0.0)
        );


        // );
        // timer = setTimeout(function() {
        //     $timeDomain = xScale.domain();
        // }, 100);
    }

	const [send, receive] = crossfade({
		duration: d => Math.sqrt(d * 200),

		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;

			return {
				duration: 600,
				easing: quintOut,
				css: t => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			};
		}
	});
</script>

<!-- <Button on:click={()=>{zoomClick(new Date("2015-03-16"), new Date("2015-03-19"))} }>zoom</Button>
<Button on:click={()=>{zoomClick(new Date("2017-09-07"), new Date("2017-09-10"))} }>zoom</Button>
<Button on:click={()=>{$layout_file = 'layout_omni_ae_intermagnet.json'} }>layout 2</Button>
<Button on:click={()=>{$layout_file = 'newlayout_simple.json'} }>layout 1</Button>
{$layout_file} -->

<div class="relative w-full h-full" bind:clientWidth={containerWidth} bind:clientHeight={containerHeight}>

    {#each subplotLayouts as subplot (subplot.computed.id)}
        {#if subplot['globe_visible']}
            <Canvas subplot={subplot} xScale={xScale_new}/>
        {/if}
    {/each}

    <svg width={containerWidth} height={containerHeight} bind:this={svgElement}>
        <SVGFilters/>
        {#if mounted}
	    	<!-- Loop over subplots -->
	    	{#each subplotLayouts as subplot (subplot.computed.id)}
		    	{#if subplot['visible']}
			    	<SubplotGroup {subplot} xScale={xScale_new}>
						<!-- Loop over plot elements -->
				    	{#each subplot.plot_elements as plot_element (plot_element.computed.id)}
                            {#if plot_element.plot_options.plot_type == "url_template_epoch_images"}
                                <PlotElementURLTemplate {subplot} {plot_element} xScale={xScale_new}/>
                            {:else if plot_element.plot_options.plot_type == "event_symbols"}
                                <EventSymbolPlot {plot_element} xScale={xScale_new} yScale={subplot.computed.yScale}/>
							{:else if plot_element.plot_options.plot_type == "static_image"}
								<StaticImagePlot {plot_element} xScale={xScale_new} yScale={subplot.computed.yScale}/>
                            {:else}
					    	    <PlotElementHAPI {subplot} {plot_element} xScale={xScale_new}/>
                            {/if}
				    	{/each}
			    	</SubplotGroup>
		    	{/if}
	    	{/each}
        {/if}
    </svg>
</div>

<style>
    svg {
        cursor: ew-resize;
    }
</style>
