<script>
    import { onMount } from 'svelte';

    export let y1;
    export let y2;
    export let xScale;
    export let clip_path_url;

    const currentTimeRounded = function(millisec) {
        return new Date(Math.round(new Date().getTime() / millisec) * millisec);
    };

    // Time step in milliseconds (e.g. 1000 means update time every second)
    let millisec=1000;
    let tnow = currentTimeRounded(millisec);

    onMount(() => {
        const interval = setInterval(() => {
            tnow = currentTimeRounded(millisec);
        }, millisec);
        return () => {
            clearInterval(interval);
        };
    });

    $: xtnow = xScale(tnow);
</script>

<g class="nowbar" clip-path={clip_path_url}>
    <line x1={xtnow} x2={xtnow} y1={y1} y2={y2} stroke="#79B" stroke-opacity="50%" stroke-width="3px"/>
</g>
