<script type='ts'>
    import {Range, NumberInput, Helper} from 'flowbite-svelte'
    export let min = 0;
    export let max = 100;
    export let step = 1e-2;
    export let value;
</script>

<div class="flex flex-row gap-5">
    <div class="w-full">
        <Range on:change min={min} max={max} step={step} bind:value={value}/>
        <Helper><div class="flow-root"><span class="float-left">{min}</span><span class="float-right">{max}</span></div></Helper>
    </div>
    <div class="w-24">
        <NumberInput on:change step={step} class="text-right" size="sm" bind:value={value}/>
    </div>
</div>

<style>
</style>
